* {
  font-family: "Inter";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #f5f5f5;
  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(139, 177, 219));
}
.start {
  height: 97px;
  border-radius: 9px;
}
.container {
  width: 1400px;
  display: block;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}
.title {
  display: flex;
  align-items: center;
}
.title__name {
  margin-left: 16px;
  font-size: 40px;
  font-weight: 700;
}
.telephone {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
}
.button {
  background-color: #137fec;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border: none;
  width: 161px;
  height: 53px;
  border-radius: 8px;
  margin-left: 16px;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  background-color: #1068bf;
}
.banner__wrapper {
  background: url("/src/img/Group\ 4.png") center center/ cover no-repeat;
  height: 500px;
  border-radius: 8px;
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 50px;
  box-shadow: 5px 5px 10px #6e74a09d;
}
.quality {
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 14px;
  font-weight: 700;
  width: 183px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 999px;
  border: 1px white solid;
  padding: 6px 0 6px 0;
}
.banner__description {
  color: #ffffff;
  font-size: 60px;
  font-weight: 900;
}
a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  margin-right: 5px;
}
.banner {
  padding-bottom: 32px;
}
.services__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}
.services__description {
  margin-top: 16px;
  text-align: center;
  font-size: 22px;
}
.services__item {
  width: 690px;
  min-height: 344px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px #6e74a09d;
}
.services__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  gap: 15px;
  justify-content: space-between;
}
.services__img {
  img {
    border-radius: 16px 16px 0px 0px;
    width: 100%;
  }
}
.item__title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 35px;
  .name {
    margin-left: 12px;
  }
}
.services__item__wrapper {
  margin: 32px;
}
.item__description {
  font-size: 18px;
  color: #4b5563;
  margin: 24px 0px 24px 0px;
}
.item__icons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  img {
    height: 20px;
  }
}
.item__price {
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: space-between;
  margin-top: 24px;
  border-top: solid #f0f2f4;
  padding-top: 15px;
  span {
    color: #137fec;
    font-weight: 700;
    font-size: 18px;
  }
}
.services {
  margin-bottom: 25px;
}
.information__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  background-color: #137fec;
  height: 478px;
  margin: 0 auto;
  margin-bottom: 94px;
  border-radius: 10px;
}
.information__title {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
}
.information__item {
  display: flex;
  gap: 18px;
}
.information__number {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  color: #ffffff;
  font-size: 20px;
  .information__description {
    font-size: 30px;
  }
}
@media screen and (max-width: 1400px) {
  .container {
    width: 100%;
    padding: 0 20px 0 20px;
    margin: 0;
  }
  .services__item {
    width: 49%;
  }
}
@media screen and (max-width: 992px) {
  .item__icons {
    align-items: center;
    min-height: 60px;
  }
  .price {
    display: flex;
    flex-direction: column;
    font-size: 17px;
  }
  .item__title {
    font-size: 25px;
  }
  .item__description {
    font-size: 17px;
  }
  .information__number {
    font-size: 25px;
    .information__description {
      font-size: 20px;
    }
  }
}
@media screen and (max-width: 800px) {
  .title__name {
    font-size: 30px;
  }
  .telephone {
    font-size: 20px;
  }
  .banner__description {
    font-size: 55px;
  }
  .services__description {
    font-size: 19px;
  }
  .services__wrapper {
    justify-content: center;
  }
  .services__item {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .start {
    height: 65px;
  }
  .banner__wrapper {
    height: 320px;
  }
  .title__logo {
    width: 50px;
  }
  .title__name {
    font-size: 18px;
    margin-left: 10px;
  }
  .telephone {
    font-size: 17px;
  }
  .button {
    font-size: 16px;
    width: 123px;
    height: 40px;
    margin-left: 10px;
  }
  .banner {
    padding-bottom: 15px;
  }
  .banner__wrapper {
    align-items: center;
    gap: 40px;
    justify-content: center;
    padding-left: 0;
    a {
      font-size: 16px;
    }
    .button {
      width: 160px;
    }
  }
  .banner__description {
    font-size: 35px;
    text-align: center;
  }
  .services__description {
    font-size: 15px;
  }
  .container {
    padding: 0 10px 0 10px;
  }
  .information__wrapper {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 524px) {
  .start {
    height: 55px;
  }
  .title__logo {
    width: 40px;
  }
  .title__name {
    font-size: 15px;
  }
  .telephone {
    font-size: 14px;
  }
  .button {
    font-size: 12px;
    width: 84px;
    height: 30px;
  }
  .banner__wrapper {
    height: 320px;
  }
  .banner__description {
    font-size: 25px;
  }
  .services__title {
    font-size: 30px;
  }
  .services__description {
    margin-top: 10px;
  }
  .services__wrapper {
    margin-top: 20px;
  }
  .item__title {
    font-size: 17px;
    img {
      width: 30px;
    }
  }
  .services__item__wrapper {
    margin: 22px;
  }
  .item__icons {
    min-height: 60px;
  }
  .information__icon {
    width: 47px;
  }
  .information__number {
    font-size: 19px;
    .information__description {
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 410px) {
  .start {
    height: 90px;
  }
  .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .button {
    width: 100px;
  }
  .telephone {
    gap: 50px;
  }
}
